@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: rgba(245, 248, 255, 1);
    font-family: "Noto Serif", "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;


}

.sacond-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

/* universer-css */
span{
    color: #E95A08;
}



header{
    max-width: 1140px;
    margin: 0 auto;

}

.nav-ber-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-ber-area .logo{
    max-width: 135px;
    max-height: 82px;
}

a ,p ,h3{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 16px;
}
.nav-list{
    display: flex;
    gap: 48px;
}

.nav-list a{
font-family: "Inter", serif;
}

.home {
    color: #252432;
    font-weight: bold;
}

.cart{
    color: #252432;
}

/* nav ber design end */
/* banner-area-design-start */

.banner-area{
    display: grid;
    /* grid-template-columns:repeat(2,1fr); */
    align-items: end;
    display: flex;
    
    margin: 120px 0;
}
.baner-area-left{
    max-width: 50%;
}
.banner-area-right{
    max-width: 50%;
}

.baner-area-left h1{
    font-size: 4rem;
    font-weight: 800;
}

/* banner-area-end */
/* main-area-start */
.main-area-1st-part{
    text-align: center;
}


.mean-area-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 16px;
}

.box-title{
    font-weight: 500;
    color: #252432;
    font-size: 22px;
}

.box-subtitle{
    font-weight: 800;
    font-size: 22px;
}

.box-button{
    background-color:#E95A08 ;
    color: white;
    padding:19px 80px ;
    border: none;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}


main{
    max-width: 1140px;
    margin: 0 auto;

}

.mean-area-subtitle{
    margin-bottom: 45px;
}


@media screen and (max-width:576px) {
    .banner-area{
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     text-align: center;
    

    }
    
    
    
    
}