@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: rgba(245, 248, 255, 1);
    font-family: "Noto Serif", "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;


}

.sacond-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

/* universer-css */
span{
    color: #E95A08;
}



header{
    max-width: 1140px;
    margin: 0 auto;

}

.nav-ber-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-ber-area .logo{
    max-width: 135px;
    max-height: 82px;
}

a ,p ,h3{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 16px;
}
.nav-list{
    display: flex;
    gap: 48px;
}

.nav-list a{
font-family: "Inter", serif;
}

.home {
    color: #252432;
    font-weight: bold;
}

.cart{
    color: #252432;
}

/* nav ber design end */
/* banner-area-design-start */

.banner-area{
    display: grid;
    /* grid-template-columns:repeat(2,1fr); */
    align-items: end;
    display: flex;
    
    margin: 120px 0;
}
.baner-area-left{
    max-width: 50%;
}
.banner-area-right{
    max-width: 50%;
}

.baner-area-left h1{
    font-size: 4rem;
    font-weight: 800;
}

/* banner-area-end */
/* main-area-start */
.main-area-1st-part{
    text-align: center;
}


.mean-area-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 16px;
}

.box-title{
    font-weight: 500;
    color: #252432;
    font-size: 22px;
}

.box-subtitle{
    font-weight: 800;
    font-size: 22px;
}

.box-button{
    background-color:#E95A08 ;
    color: white;
    padding:19px 80px ;
    border: none;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}


main{
    max-width: 1140px;
    margin: 0 auto;

}

.mean-area-subtitle{
    margin-bottom: 45px;
}


/* mean-area-sacond part start */

.div-for-area-badge{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.mean-area-sacond-part{
    margin-top: 200px;
}
.sacond-part-drescription h1{
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0;
}

.sacond-part-drescription p{
    font-size: 1.25rem;
}

.mean-area-2nd-part{
    max-width: 45%;
}
.sacond-part-drescription{
    max-width: 45%;
}

.bg-img{
    position: relative;
}
.budge-img{
    width: 286px;
    position: absolute;
    top:-110px;
    right: -150px;
    background: transparent;
    
}


/* 2nd-area-start */
.latest-deal-area{
  text-align: center;
  margin-top: 100px;

}
.latest-deal-area h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 0;

}

.latest-deal-area p{
    margin-bottom: 80px;
}


.sub-class h1{
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.img-box-1{
    
    background:linear-gradient(rgba(0, 0, 0, 0.44)), url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 201px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    grid-area: img-box-1;
    background-size: cover;
   
}


.img-box-2{
    
    background:linear-gradient(rgba(0, 0, 0, 0.44)), url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    display: flex;
   width: 100%;
   height: 201px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    grid-area:img-box-2 ;
    background-size: cover;
   
   
}

.img-box-3{
    
    background:linear-gradient(rgba(0, 0, 0, 0.44)), url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    height: 435px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    grid-area:img-box-3 ;
    background-size: cover;
    font-size: 40px;
    margin-left: 15px;
    

   
}
.img-box-3 h1{
    font-size: 2.5rem;
}
.img-box-3 a{
    font-size: 1.75rem;
}

.sub-class a{
    text-decoration: underline;
    background: none;
    color: whitesmoke;
    
}

.latest-deal-img{
    display: grid;
    grid-template-areas:
    "img-box-1 img-box-3 img-box-3 "
    "img-box-2 img-box-3 img-box-3  "
    
    
    ;
    gap: 20px;
}

/* mean area css end */
   .colorful-brunch{
    background: url(./assets/news-letter-bg.png);
    background-size: cover;
    width: 100%;
    height: 533px;
   }

   .footer-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 533px;
    background: none;
   

   }

   .footer-content h1 {
    background: none;
    font-size: 3rem;
    font-weight: 800;
    color: #fff;


   }
    

#footer-search-bar{
    padding-right: 200px;
    padding-left: 15px;
    border: none;
    text-align: left;
    
}

#submit-btn{
    background-color: #E95A08;
    border: none;
    padding: 19px 50px;
    color: #fff;
    text-align: left;
}

form input{
    padding-left: 0;
}
.footer-area-2nd-part{
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-drescription{
    max-width: 359px;
}

.footer-nav-01 , .footer-nav-02{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.social-media-link{
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 15px;

}
@media screen and (max-width:576px) {
    .banner-area{
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     text-align: center;
    

    }
    
    
    
    
}